body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: black;
}

header {

    position: relative;
    top:2vh;
    font-weight: bold;
    color:black;
    height:15vh;
    text-align: center;
    font-size: 1.5em;
    padding:0;
    margin:0;
}

header h1{
    text-decoration: underline;
}

img{
    height:10vh;
    width:auto;
}

#khanda1{
    position: absolute;
    left: 35vw;
    top: 1vh;
}

#khanda2{
    position: absolute;
    left:60vw;
    top:1vh;
}

nav{
    position:relative;
}

ul {
    position: absolute;
    left:33.4vw;
    list-style-type: none;
}

ul li{
    font-size: 1.2em;
    padding-left: 5px;
    padding-right:5px;
    margin-left: 25px;
    margin-right:25px;
    display:inline-block;
}

ul li a{
    text-decoration: none;
    color:black;
}

main{
    position:relative;
    top:15vh;
    height:35vh;
}

#about-head{
    position:absolute;
    font-size:1.7em;
    left:15vw;
}

#about-info{
    position:absolute;
    font-size:1.2em;
    left:15vw;
    top:6vh;
    width:70vw;
    text-align: justify;    
}

#gallery{
    position:relative;
    top:20vh;
    height:50vh;
    
}



#gallery-head{
    position: absolute;
    left:15vw;
    font-size:1.8em;
}

#images{
    position:absolute;
    height: 15vh;
    
}

#bg1{
    width:23vw;
    height:auto;
    position: absolute;
    top:12vh;
    left:15vw;
}

#bg2{
    position: absolute;
    width:23vw;
    height:auto;
    left:40vw;
    top:12vh;
}

#bg3{
    position: absolute;
    width:20.5vw;
    height:auto;
    left:65vw;
    top:12vh;
}

#showMore{
    position: absolute;
    width:50vw;
    background-color: lightslategray;
    height:6vh;
    left:25vw;
    top:45vh;
    text-align: center;
}

#showMore p{
    position:absolute;
    left:28vw;
    margin:0;
    top:1.5vh;
}

#showMore_button{
    position:absolute;
    left:20vw;
    font-size: 1.4em;
    padding:0;
    margin:0;
    top:0.8vh;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#galleryAnchor{
    text-decoration: none;
    color:black;
}

#galleryAnchor:hover{
    color:white;
    
}

#showMore:hover{
    background-color:black;
    transition: 1.5s;
}


#videos{
    position:absolute;
    height:20vh;
}

#left{
    position:absolute;
    left:18vw;
    top:53vh;
}

#right{
    position: absolute;
    left:62vw;
    top:53vh;
}

#center{
    position: absolute;
    left:40vw;
    top:53vh;
}

video{
    width:auto;
    height:auto;
}

#events{
    position:relative;
    top:50vh;
}

#event-info{
    position: absolute;
    left:15vw;
    font-size:1.2em;
    top:6vh;
    width:70vw;
    text-align: justify;
}

#event-head{
    position:absolute;
    left:15vw;
    font-size:1.8em;
}

#register{
    background-color: lightslategray;
    color:black;
    position: absolute;
    left:15vw;
    top:30vh;
    width: 15vw;
    text-align: center;
    
}

#registerInfo{
    margin:0;
    font-size:1.2em;
}

#register:hover{
    background-color:black;
    color:white;
    transition: 1.5s;
}

#registerAnchor{
    text-decoration: none;
}

#details{
    position:relative;
    top:95vh;
    height:80vh;
}

#contact-head{
    position: absolute;
    left:30vw;
    font-size:1.8em;
}

#contact-info{
    position: absolute;
    left:25vw;
    top:12vh;
}

#locate-head{
    position: absolute;
    left:65vw;
    font-size:1.8em;
}

.mapouter{position:absolute;
         text-align:right;
         left:56vw;
         top:12vh;
         height:427px;
         width:402px;}

.gmap_canvas {overflow:hidden;
             background:none!important;
             height:427px;
             width:402px;}

footer{
    position:relative;
    top:80vh;
    height:5vh;
}

#copyright{
    position:absolute;
    left:46vw;
}






